<form [formGroup]='formGroup'>
  Search for a wiki page:
  <mat-form-field appearance="outline" style="width: 400px;">
    <input matInput placeholder="Wikipedia search" formControlName="termFormControl" [matAutocomplete]="auto">
	  <button mat-button *ngIf="termFormControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="termFormControl.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-autocomplete #auto="matAutocomplete">
    <div class="loading-shade" *ngIf="isProcessing">
      <mat-spinner *ngIf="isProcessing"></mat-spinner>
    </div>
    <mat-option *ngFor="let result of filteredResults | async" [value]="result">{{ result }}</mat-option>
  </mat-autocomplete>
</form>

<p>This is an example of an autocomplete control with server-side processing. A loading spinner is displayed while it retrieves the results from the server.</p>